<form class="filter-form" [formGroup]="filterForm" (ngSubmit)="applyFilter()">
  <div class="filter-form-el1">
    <div class="form-group filter-key">
      <select id="filterKey1" class="form-control" formControlName="key1" (ngModelChange)="onSelectKey(1)">
        <option *ngFor="let opt of options" value="{{ opt.value }}" id="{{ 'filter' + opt.value }}">
          {{ opt.label }}:
        </option>
      </select>
    </div>
    <div class="form-group filter-input">
      <input type="text"
        id="filterValue1"
        class="form-control"
        formControlName="value1"
        placeholder="filter 1 value">
    </div>
  </div>

  <div class="filter-form-el1">
    <div class="form-group filter-key">
      <select id="filterKey1" class="form-control" formControlName="key2" (ngModelChange)="onSelectKey(2)">
        <option *ngFor="let opt of options" value="{{ opt.value }}" id="{{ 'filter' + opt.value }}">
          {{ opt.label }}:
        </option>
      </select>
    </div>
    <div class="form-group filter-input">
      <input type="text"
        id="filterValue1"
        class="form-control"
        formControlName="value2"
        placeholder="filter 1 value">
    </div>
  </div>

  <div class="filter-form-el2">
    <div class="form-group filter-button">
      <button type="submit" class="btn btn-primary" [disabled]="filterForm.invalid">
        <i class="fa fa-filter"></i>&nbsp;Apply Filter
      </button>
    </div>
  </div>
</form>
