<div class="container popup-form">
  <div class="row">
    <h5 class="form-title">{{ title }}</h5>
  </div>
  <form [formGroup]="form">
    <div class="container">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputUsername">Username:</label>
          <input type="text" formControlName="username" id="inputUsername" class="form-control" placeholder="Input employee's username">
        </div>

        <div class="form-group col-md-6">
          <label for="inputEmail">Email:</label>
          <input
            type="email"
            formControlName="email"
            id="inputEmail"
            class="form-control"
            [ngClass]="{ 'is-invalid': fieldErrors.indexOf('emailPattern') > -1 }"
            placeholder="Input employee's email address"
            (focus)="removeError('emailPattern')"
            (blur)="checkEmail()"
            [email]="true">
          <div class="invalid-feedback">Email does not match valid pattern: "name@domain"</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputFirstname">First Name:</label>
          <input type="text" formControlName="firstName" id="inputFirstname" class="form-control" placeholder="Input employee's first name (given name)">
        </div>

        <div class="form-group col-md-4">
          <label for="inputLastname">Last Name:</label>
          <input type="text" formControlName="lastName" id="inputLastname" class="form-control" placeholder="Input employee's last name (surname)">
        </div>

        <div class="form-group col-md-4">
          <label for="inputBirthdate">Birth Date:</label>
          <input type="date" formControlName="birthDate" id="inputBirthdate" class="form-control" [max]="todayDate">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputBasicSalary">Basic Salary:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Rp.</div>
            </div>
            <input type="number" formControlName="basicSalary" id="inputBasicSalary" class="form-control">
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputStatus">Status:</label>
          <select formControlName="status" id="inputStatus" class="form-control">
            <option
              *ngFor="let status of statusSelect"
              value="{{ status.value }}"
              id="{{ 'select' + status.value }}"
              data-toggle="tooltip"
              data-placement="right"
              [title]="status.label | titlecase">
              {{ status.label }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputGroup">Group:</label>
          <select id="inputGroup" formControlName="group" class="form-control select2">
            <option *ngFor="let group of groupSelect" value="{{ group.value }}">
              {{ group.label | titlecase }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputDescription">Description:</label>
          <textarea rows="2" formControlName="description" id="inputDescription" class="form-control" placeholder="Employee's description"></textarea>
        </div>
      </div>

    </div>
  </form>
  <hr>
  <div class="form-footer">
    <button
      type="button"
      class="btn btn-lg btn-success form-button"
      (click)="submit()"
      [disabled]="!form.valid && data.action !== 'DELETE'">
      {{ data.action === 'DELETE' ? 'Delete' : 'Save' }}
    </button>
    <button type="button" class="btn btn-lg btn-danger form-button" (click)="cancel()">Cancel</button>
  </div>
</div>
