<div class="container">
  <div class="login-container">
    <div class="login-box">
      <h4 class="login-header">EMPLOYEE MANAGEMENT<br/>LOGIN</h4>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="inputUsername">
            User ID:&emsp;
            <span *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].touched" class="form-error-message">
              Field username is required.
            </span>
          </label>
          <input type="email"
            class="form-control"
            id="inputUsername"
            formControlName="username"
            placeholder="User ID"
            (focus)="invalidCreds = false"
            [ngClass]="{ 'field-error': loginForm.controls['username'].errors && loginForm.controls['password'].touched }">
        </div>
        <div class="form-group">
          <label for="inputPass">
            Password:&emsp;
            <span *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched" class="form-error-message">
              Field password is required.
            </span>
          </label>
          <input type="password"
            class="form-control"
            id="inputPass"
            formControlName="password"
            placeholder="Password"
            (focus)="invalidCreds = false"
            [ngClass]="{ 'field-error': loginForm.controls['password'].errors && loginForm.controls['password'].touched }">
        </div>
        <small *ngIf="invalidCreds" id="loginError" class="form-text">Invalid username and/or password</small>
        <hr>
        <button type="submit" class="btn btn-block btn-login">LOG-IN</button>
      </form>
    </div>
  </div>
</div>
